config.symlink/configstore/
config.symlink/fish/fishd.*
config.symlink/grammarly-languageserver/*/com.grammarly.plugin.refresh_token
config.symlink/simple-update-notifier/
config.symlink/yarn
vscode/User/globalStorage
vscode/User/History/
vscode/User/workspaceStorage
